*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
}



a{
    text-decoration: none;
}


.logo{
    color: rgb(207, 204, 204);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}



.nav-links a{
    color:  rgb(207, 204, 204);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}

.burger div{
    transition: all .5s ease-in-out;
    width: 25px;
    height: 3px;
    background-color:  rgb(207, 204, 204);
    margin: 5px;
}


/* 當點擊時將隱藏的nav 移回來 */
.nav-active{
    transform: translateX(-100%);

}

/* 手機點擊nav後 li呈現動畫 */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}





.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);    
}


@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        /* 只針對 x 滾軸隱藏 */
         overflow-x: hidden; 
    }

    .nav-links{
        position: absolute;
        right: -50%;
        height: 92vh;
        top: 8vh;
        /* display: none; */
        background:#5d4954;
        display: flex;
        
        /* 手機板時讓nav變垂直 */
        flex-direction: column;
        /* 置中 */
        align-items: center;

        /* 隨你調整想出現nav大小 */
        width: 50%;

        /* 讓其跑出螢幕外設置 */
        /* 需補 body overflow 把滾軸用掉 */
        /* transform: translateX(100%); */

        /* 移動時動畫 */
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }

    /* 手機時顯示 */
    /* 因為將burger設在nav裡 */
    /* 因flex的 space-around 可以跟logo 在兩側 */
    /* 很方便的排版 */
    .burger{
        display: block;
        cursor: pointer;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li.fade{
        opacity: 1;
    }

   

}
