*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #ffcc1b;
	font-size: 14px;
}
li{
	list-style: none;
}
.all{
	
	/*overflow-x: hidden;*/
}
header{
	padding-top: 20px;
}
select {
	color: #6E6E6E;
	padding: 0 8px;
	width: 130px;
	height: 22px;
    border: solid 1px #D6D6D6;

    border-radius : 5px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    padding-right: 14px;

    background: url("https://raw.githubusercontent.com/ourjs/static/gh-pages/2015/arrow.png") no-repeat scroll 95% center transparent;

}


select::-ms-expand { display: none; }

.select{
	
	margin-bottom: 24px;
	margin-left: 20px;
	border-radius : 5px;
	display: inline-block;
	box-shadow:1px 3px 10px 0px #D6D6D6;
	width: 130px;
	height: 22px;
	position: relative;
}
.select::before{
	position: absolute;
	right: calc(100% - 78%);
	top: calc(100% - 78%);
	content: "";
	display: inline-block;

	height: 10px;
	border: 0.5px solid #D6D6D6;
}

.img-fluid{
	width: 100%;
}

.wrap{
	margin: auto;
	width: 100%;
	max-width: 960px;
}

.logo{
	margin-top: 10px;
	display: inline-block;
	width: 357px;
	height: 94px;
}

.header-right{
	text-align: right;
	float: right;

}

.container-1{
  width: 500px;
 position: relative;
}

.container-1 input#search{
	padding-left: 15px;
	margin-right: 80px;
  width: 420px;
  height: 36px;
  
  border: 1px solid #D6D6D6;
  font-size: 10pt;
  /*float: left;*/
  color: #63717f;
  /*padding-left: 45px;*/
 
}
.container-1 .search-icon{
	cursor: pointer;
	text-align: center;
	line-height: 36px;
	display: inline-block;
	width: 80px;
	height: 36px;
	color: #fcfcfc;
	background: #a8a9ad;
	position: absolute;
	right: 0px;
	top: 0px;
}

nav{
	/*text-align: center;*/
	height: 58px;
	background: #ffd543;
}
nav.desk .wrap>ul li{
	position: relative;
	display: inline-block;
}
nav.desk .wrap>ul li a{
	position: relative;
	display: inline-block;
	padding: 0 52px;
	line-height: 58px;
	font-size: 18px;
	font-weight: bold;
	color: #4e4e4e;
}

nav.desk .wrap ul li a::before{
	position: absolute;
	left: 0px;
	top: calc(100% - 77%);
	content: "";
	display: inline-block;
	height: 32px;
	/*width: 1px;*/
	border: 1.5px solid #fff;
}


nav.desk .wrap ul li a.last::after{
	position: absolute;
	right: 0px;
	top: calc(100% - 77%);
	content: "";
	display: inline-block;
	height: 32px;
	/*width: 1px;*/
	border: 1.5px solid #fff
}

nav.desk .wrap ul li>ul{
	display: none;
	z-index: 100;
	padding: 8px 0px;
	position: absolute;
	left: 0px;
	top: 58px;
	border-radius: 0px 0px 10px 10px;
	display: none;
	width: 180px;
	background: #3e3e3e66;

}
nav.desk .wrap ul li:hover>ul{
	display: block;
}
nav.desk .wrap ul li>ul a{
	line-height: 34px;
	color: #fff;
	font-size: 16px;
}
nav.desk .wrap ul li ul li:hover a{
	color: #ffd543;
}
nav.desk .wrap ul li>ul a::before{
	border: 0px;

}
nav.desk .wrap ul li>ul li{
	display:block;
}


.banner{
	position: relative;
	margin-bottom: 50px;
	width: 100%;
	height: 485px;
	overflow: hidden;
	/*background-image:url('banner.png');*/
    /*background-repeat:no-repeat;*/
    /*background-size:cover;*/
}

.banner .wrap{
	/*height: 478px;*/
	position: relative;
}

.banner-title{
	bottom:calc(100% - 85%);
	right:0px;
	position: absolute;
	padding: 20px 36px;
	text-align: right;
	font-weight: bold;
	font-size: 26px;
	color: #fff;
	width: 394px;
	height: 102px;
	background: #00000094;
}

/* news and product*/
/*------------------------------------------------*/

.newsandproduct .wrap{
	display: flex;
	margin-bottom: 96px;
}
.news{
	position: relative;
	color: #6c6c6c;
	padding-left: 26px;
	width: 392px;
	padding-right: 60px;

}
.news::before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 6px;
	background: #ffd543;
	height: 116px;
}
.news-title{
	font-weight: bold;
	color: #000;
	font-size: 17px;
}
.news-title span{
	margin-left: 18px;
	font-size: 14px;
	color: #6c6c6c;

}
.news ul {
	width: 306px;
}

.news ul li{
	font-size: 15px;
	text-align: left;
	margin-top: 32px;

}
.news ul li a{
	display: inline;
	width: 100%;
	color: #6c6c6c;
}
.news ul li span.date{
	font-size: 15px;
	margin-right: 24px;

}
.news ul li span.title{
	display: inline-block;
	width: 70%;
	text-align: right;
}

.news a.more{
	color: #6c6c6c;
	width: 100%;
	display: inline-block;
	font-size: 12px;
	text-align: right;
	margin-top: 32px;
}

.product{
	position: relative;
	padding-left: 28px;
	width: 568px;
}
.product::before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 6px;
	background: #ffd543;
	height: 116px;
}
.product-item{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.product-content{
	width: 150px;
}

.product-title{
	font-weight: bold;
	color: #000;
	font-size: 17px;
}
.product-title span{
	text-transform: uppercase;
	margin-left: 18px;
	font-size: 14px;
	color: #6c6c6c;

}

.img-item{
	overflow: hidden;
	width: 150px;
	height: 150px;
	position: relative;

}

.img-item .hover-img{
	transition: all .3s ease; 
	position: absolute;
	left: 0px;
	bottom:  0px;
	display: inline-block;
	width: 100%;
	height: 0px;
	background: #ffd30052;

}
.img-item .hover-img>img{
	transition:  all .3s ease;
	opacity: 0;
	position: absolute;
	left: calc(100% - 68%);
	top: calc(100% - 68%); 
}
.img-item:hover .hover-img>img{
	opacity: 1;
}
.img-item:hover .hover-img{
	
	height: 150px;
	

}
.img-item:hover .hover{
	opacity: 1;
}

.img-cover{
	position: absolute;
	left:0px;
	top: 0px;
	width: 150px;
	height: 150px;

}
.img-item:hover .img-cover{
	background: #ffd30052;
}
.img-item .hover{
	opacity: 0;
	position: absolute;
	
}

.product-content .title{
	font-size: 12px;	
	margin-top: 14px;
	color: #797979;
}

/*process and prize*/
/*-------------------------------*/
.processprize{
	margin-bottom: 100px;
}
.processprize .wrap{
	display: flex;
}

.process{
	position: relative;
	width: 656px;
	padding-left: 27px;
}
.process::before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 6px;
	background: #ffd543;
	height: 48px;
}

.process p{
	font-weight: bold;
	font-size: 17px;
	color: #000;
}
.process p+p{
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 12px;
	color: #797979;
	font-size: 17.5px;

}
.process .img-item{
	margin-top: 32px;
	display: flex;
	width: 630px;
	height: 228px;
	overflow: hidden;
}
.img-item .img{
	width: 33.33333%;
	height: 228px;
	overflow: hidden;

}
.img-item .img1{
	background: url("produc3.png") no-repeat;
	background-position: 50% 50%;

}
.img-item .img2{
	background: url("produc4.png") no-repeat;
	/*background-position: 50% 50%;*/
}

.img-item .img3{
	background: url("produc5.png") no-repeat;
	background-position: 18% 50%;
}

.prize{
	position: relative;
	/*margin-left: 58px;*/
	padding-left: 26px;
}
.prize::before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 6px;
	background: #ffd543;
	height: 48px;
}
.prize p{
	font-weight: bold;
	font-size: 17px;
	color: #000;
}
.prize p+p{
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 12px;
	color: #797979;
	font-size: 17.5px;

}
.prize-item{
	margin-top: 32px;
	margin-left: 18px;
	width: 152px;
	text-align: center;
}
.prize-item img{
	margin-bottom: 22px;
}
.prize .prize-item p{
	font-weight: 300;
	font-size: 12px;
	color: #797979;
	margin-top: 0px;
	line-height: 16px;
}


/*angel*/
/*-----------------------*/

.angle{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	background: url("foot-banner.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: 50% 60%;
	height: 345px;
	width: 100%;
	/*margin-bottom: 70px;*/

}
.angle p.title{
	font-size: 30px;
	color: #fff;
	margin: auto;
	text-align: center;
	line-height: 68px;
	width: 368px;
	height: 68px;
	background: #0000009e;
}
/*
.left-angle{
	display: inline-block;
    width: 50%;
    height: 0;
    border-bottom: 0px solid red;
    border-left: 1139px solid #1bbbc2f7;
    border-right: 0px solid #687422fa;
    border-top: 242px solid red;
  
    bottom: 0px;
    left: 0px;
    position: absolute;
    z-index: 20;
}*/


.left-angle{
	background: #f7f5ed;
	position: absolute;
    left: calc(100% - 109%);
    bottom: calc(100% - 215%);
    /*background: #fff;*/
    width: 63%;
    height: 500px;
    transform: rotate(10deg);
   
}
.right-angle{
	background: #f7f5ed;
	position: absolute;
    right: calc(100% - 109%);
    bottom: calc(100% - 215%);
    /*background: #fff;*/
    width: 63%;
    height: 500px;
    transform: rotate(-10deg);
}


/*information*/
/*--------------------------*/

.information{
	background: #f7f5ed;
	height: 282px;
	padding-top: 70px;
	/*margin-bottom: 92px;*/
}
.information .wrap{
	justify-content: space-between;
	display: flex;
}
.information .about{
	display: flex;
	position: relative;
	width: 408px;
}
/*.information .about::before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 172px;
	background: #ffd543;
	height: 6px;
}*/
.information .about-title {
	border-top: 5px solid #ffd543;
	width: 40%;
	color: #797979;
	text-transform: uppercase;
	font-size: 21.5px;
	padding-top: 30px;
}
.information .about-title p+p {
	letter-spacing: 2px;
	margin-top: 24px;
	font-size: 16px;
	color: #000;
}

.information .about-content{
	margin-left: 78px;
	margin-top: 12px;
	width: 222px;
	height: 120px;
	font-size: 13.5px;
	color: #797979;
}

.contact{
	position: relative;
	display: flex;
}
/*.contact::before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 172px;
	background: #ffd543;
	height: 6px;
}*/

.contact .contact-title{
	width: 40%;
	border-top: 5px solid #ffd543;
	color: #797979;
	text-transform: uppercase;
	font-size: 21.5px;
	padding-top: 22px;
}
.contact .contact-title p+p+p{
	letter-spacing: 2px;
	margin-top: 12px;
	font-size: 16px;
	color: #000;
}
.contact .contact-content{
	line-height: 24px;
	margin-top: 12px;
	font-size: 13.5px;
	color: #797979;
	margin-left: 46px;
}

/* icon */
/*------------------------*/
.icon{
	background: #f7f5ed;
	/*margin-bottom: 24px;*/
	padding-bottom: 24px;
}
.icon .wrap ul {
	text-align: center;
	/*margin: 0px;*/

}

.icon .wrap ul li{
	overflow: hidden;
	alignment-baseline: baseline;
	position: relative;
	width: 58px;
	height: 32px;
	display: inline-block;
}

.icon .wrap ul li a{
	display: block;
	
	
}
.icon .wrap ul li a img{
	padding: 5px 22px 4px;
}
.icon .wrap ul li::before{
	content: "";
	width: 1px;
	height: 30px;
	background: #656565;
	position: absolute;
	left: 0px;
	top: 0px;
}
.icon .wrap ul li:last-child::after{
	content: "";
	width: 1px;
	height: 30px;
	background: #656565;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* footer */
/*--------------------------*/
footer .company .connection .phone i{
	display: none;
}
footer .company .connection .line i{
	display: none;
}

footer{
	background: #434242;
	
	
}
footer .wrap{
	display: flex;
	padding: 10px 16px 15px;
}

footer .company {
	width: 217px;
}
footer .company .title{
	color: #fff;
	font-size: 18px;
	margin-bottom: 12px;
}
footer .company p+p{
	font-size: 12px;
	color: #878787;
	line-height: 14px;
}

footer .company p+p+p{
	color: #a1a1a1;
}


footer .company .connection{
	justify-content: space-between;
	display: flex;
	margin-top: 10px;
	height: 32px;
}
footer .company .connection .line{
	background: url("line.png");
	background-repeat:no-repeat;
	/*background-size: cover;*/
	background-position: 0% 50%;
	display: flex;
	width: 100px;
	height: 35px;
	text-align: center;
	

}
footer .company .connection a{
	color: #fff;
	margin-left: 28px;
	height: 35px;
	line-height: 35px;
	width: 100%;
	display: inline-block;
	
}
footer .company .connection span{
	display: block;
	color: #fff;
    font-size: 14px;
    padding-top: 9px;	
	margin-left: 8px;
}
footer .company .connection .phone{
	width: 100px;
	height: 35px;
	background: url("phone.png");
	background-repeat:no-repeat;
	
	background-position: 0% 50%;
	margin-right: 12px;
	display: flex;
	text-align: center;
}

footer .address{
	padding-top: 2px;
	line-height: 21px;
	letter-spacing: 0.5px;
	color: #fff;
	font-size: 12px;
	margin-left: 40px;
	width: 250px;

}
footer .footer-nav {
	padding-left: 40px;
	/*display: flex;*/
	/*margin-left: 40px;*/
	/*margin-right: 38px;*/
	width: 314px;
}
footer .footer-nav a{
	color: #fff;
	margin-right: 42px;
	display: inline-block;
}
footer .footer-nav a.ml-0{
	margin-right: 0px;
}
footer .QRcode{
	text-align: right;
	margin-left: 18px;
	width: 92px;
}
/*mobile*/
/*--------------*/
nav.mobile{
	display: none;
}

header label{
	display: none;
}
.nav-toggle{
		display: none;
	}

.img-item{
	height: 145px;
	overflow: hidden;
}
/*RWD  MAX980PX*/
/*------------------------------*/

@media screen and (max-width: 980px){

	.banner{
		height: auto;
	}
	nav.desk{
		text-align: center;
	}
  
	.container-1{
 		 width: 350px;
	}

	nav.desk .wrap>ul li a{
		padding: 0 28px;
	}

	.container-1 input#search{
		width: 100%;
		margin-right: 0px;
	}
	.img-item{
		height: 140px;
		overflow: hidden;
	}

	
	.product{
		padding-right: 5px;
	}
	.process{
		width: 100%;
	}
	.process .img-item{
		width: 100%;
	}
	.prize{
		padding-right: 26px;
	}
	.prize-item{
		/*padding: 0px 25px;*/
		margin-left: 0px;
		width: 100%;
	}
	
}


@media screen and (max-width: 740px){
	
	body{
		/*overflow-x: hidden;*/
	}

	header label{

		display: block;
	}
	label i.fas{
		z-index:999999;
		background: #fff;
		color: #F3AD0D;
		border-radius: 5px;
		padding: 9px;
		border: 1px solid #F3AD0D;
		right: 30px;
		top: 30px;
		position: absolute;
		font-size: 22px;
		z-index: 999999999999;
	}

	nav.mobile{
		overflow: hidden;
		display: block;
		transition:all .5s ease;

		border-radius: 5px;
		background: #fff;
	    height: 345px;
	    width:0px;
	    position: absolute;
	    top: 12%;
	    right: 0px;
	    color: black;
	    border: 0px solid #CAA055;
	    z-index: 150;
	    
	}
	
	nav.mobile>ul{
		padding: 0px 25px;
	}
	nav.mobile ul li a:hover{
		color: #F3AD0D;
	}
	nav.mobile ul li a{
		margin: 15px 0px;
		line-height: 100%;
		padding: 5px 0px;
		border-bottom: 1px solid #DADADA;
		display: block;
		color: #000;
		font-size: 16px;
	}

	nav.mobile ul li>ul{

		margin-left: 5px;
	}

	nav.mobile ul li>ul li a{
		border-bottom: none;
		margin:0px 0px;
	}
	input.nav-toggle:checked ~ nav.mobile{
		right: 0px;
		width: 45%;
		
		border: 1px solid #CAA055;
		
		
	}
	input.nav-toggle:checked ~ nav.mobile ul{

	}

	header .wrap{
		padding: 0px 2px;
	}
	.logo{
		width: 48%;
		height:0px;
	}
	.logo img{
		width: 100%;
	}
	nav.desk{
		display: none;
	}
	.header-right{
		padding-top: 15px;

	}
	.select{
		margin-bottom: 8px;

	}
	.header-right{
		float: none;
	}

	.box{
		width: 100%;

	}
	.container-1{
		width: 100%;
	}
	.container-1 input#search{
		width: 100%;
	}
	.newsandproduct .wrap{
		display: block;
	}
	.newsandproduct .wrap{
		padding-left: 5%;
	}

	.news{
		padding-left: 27px;
		/*margin-left: 27px;*/
		width: 100%;
		display: block;
	}
	.product{
		padding:0px 8% 0px 26px;
		margin:30px 0px 0px;
		display: block;
		width: 100%;

	}
	.product-content{
		width: auto;
		padding: 0px 5px;
	}
	.img-item{
	

		width: auto;
	}
	.process{
		padding-right: 10%;
	}
	.processprize .wrap{
		padding-left: 5%;
		display: block;
	}

	.process{
		margin-bottom: 35px;
		width: 100%;
		/*margin-left: 27px;*/
		padding-left: 27px;
	}
	
	.process .img-item{
		width: 100%;
	}
	.prize{
		/*margin-left: 27px;*/
	}
	.prize-item{
		width: auto;
	}
	.information .wrap{
		padding-left: 5%;
		display: block;
	}

	.information .about{
		margin-bottom:22px;
		padding-right: 5%;
		/*margin-left: 27px;*/
		width: auto;
		justify-content: space-between;
	}
	.information .about-content{
		margin-left: 0px;
		width: 220px;
		line-height: 26px;
	}

	.contact{
		justify-content:space-between;
		margin-bottom: 30px;
		/*margin-left: 27px;*/
		padding-right: 5%;
	}
	.contact .contact-content{
		margin-left: 0px;
	}
	.contact-content{
		width: 220px;
		margin-left: 0px;
		text-align: left;
		
	}
	.icon{
		padding-top: 150px;
	}

	footer{
		padding-bottom: 60px;
	}
	footer .wrap{
		display: block;
		text-align: center;
		margin:auto;

	
	}
	footer .company .connection{
		position: fixed;
		bottom: 15px;
		left: 15px;

	}
	footer .company{
		width: 100%;
		margin-bottom: 30px;
	}
	footer .address{
		width: 100%;
		font-size: 0.9em;
		margin: auto;
		text-align: center;
		margin-bottom: 20px;
	}
	footer .company .connection .line{
		width: 100px;
		border-radius: 10px;
		margin-right: 15px;
		position: relative;
		
		background:rgba(43, 33, 31, 0.78);

	}
	footer .company .connection .line i{
		display: inline;
		color: #fff;
		position: absolute;
		left: 10%;
		bottom: 30%;
	}
	footer .company .connection .phone{
			border-radius: 10px;
			width: 100px;
			background:rgba(43, 33, 31, 0.78);
			position: relative;
	}
	footer .company .connection .phone i{
		display: inline;
		color: #fff;
		position: absolute;
		left: 15%;
		bottom: 30%;
	}
	footer .footer-nav{
		width: 90%;
	}
	footer .QRcode{
		display: none;
	}
}




@media screen and (max-width: 500px){
	.left-angle{
		left: calc(100% - 112%);	
	}
	.right-angle{
		right: calc(100% - 112%);
	}
	.img-item{
		height: 115px;
		overflow: hidden;
	}
	.img-item:hover .hover-img{
	
	height: 120px;
	

	}

}


@media screen and (max-width: 400px){
	.information{
		height: auto;
	}
	.information .about{
		display: block;

	}
	.information .about-content{
		width: 100%;

	}
	.information .about-title{
		width: 100%;
		border-top: 5px solid #ffd543;
	}
	.contact .contact-title{
		width: 100%;
		border-top: 5px solid #ffd543;
	}
	.contact{
		margin-bottom: 0px;
		display: block;

	}
	.contact .contact-content{
		width: 100%;
	}
	.icon{
		padding-top: 70px;
	}
}