@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: #eee;
}
.wrapper{width: 100%;overflow-x: hidden;}
.sectionTitle h2{font-family: 'Damion', cursive;font-size: 70px;color: #000;font-weight: normal;}
.flex{display: flex;}
.btn a{
	width: 400px;
	border-radius: 6px;
    box-shadow: inset 0 0 0 2px #1f79a9;
    font-size: 16px;
    position: relative;
    display: block;
    color: #1f79a9;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: ease .3s;
}
.btn a span{
	position: relative;
    display: block;
    z-index: 4;
    height: 100%;
    width: 100%;
    padding: 28px 40px;
    text-align: center;
}
.btn a span i{
	position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.btn a::after{
	position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    z-index: 2;
    height: 100%;
    width: 0;
    background-color: #1f79a9;
    border-radius: 6px;
    transition: width 0.3s ease;
}
.btn a:hover::after{width: 100%;}
.btn a:hover{color: #fff;}

#products .flex,#bookbox .flex{align-items: center;}
#products .btn,#bookbox .btn{padding-left: 40px;}
#products .btn a,#bookbox .btn a{width: 250px;}
#products .btn a span,#bookbox .btn a span{padding: 18px 40px;}

#products{padding-top: 95px;}
#products .product-item .photobox{display: inline-block;padding: 20px;background: #fff;}
#products .product-item .photobox > div{overflow: hidden;}
#products .product-item a.photo{transition: ease .3s;display: block;background-size: 100% 100%;background-repeat: no-repeat;}
#products .product-item a.photo:hover{transform: scale(1.15);}
#products .product-item .info{display: block;padding: 40px 37px 36px 40px;background: #fff;}
#products .product-item .info-content{box-shadow: 0 10px 17.5px 0.5px rgba(0, 0, 0, 0.2);margin-left: 215px;margin-top: -95px;position: relative; width: 500px;opacity: 0;z-index: 2; transition: ease .3s;}
#products .product-item .info .title{font-size: 24px;margin: 0 0 17px;-webkit-line-clamp:2;}
#products .product-item .info .price span{font-size: 14px;color: #fff;}
#products .product-item .info .price span.old{text-decoration: line-through;display: inline-block; padding: 3px 8px;background: #568e6d}
#products .product-item .info .price span.sale{display: inline-block;padding: 3px 8px;background: #d8608d;margin-left: 20px;}
#products .swiper-container{margin: 25px 0px 0px 40px;overflow: inherit;z-index: 0;}
#products .swiper-container::before{
	position: absolute;
    left: -40px;
    top: 48.5%;
    content: '';
    display: block;
    z-index: -1;
    height: 100%;
    width: 84%;
    background-color: #1f79a9;;
}
/*#products .product-item.swiper-slide{margin: 0 0 0 40px}*/
#products .product-item.swiper-slide-active .info-content{opacity: 1;}
#products .swiper-button-next,#products .swiper-button-prev{width: 50px;height: 50px;background: #1f79a9;border-radius: 50%;color: #fff;display: flex;justify-content: center;align-items: center;top: 50%;transform: translateY(-50%);box-shadow: 0 10px 17.5px 0.5px rgba(0, 0, 0, 0.2);}
#products .swiper-button-next{left: -15px;}
#products .swiper-button-prev{left: 605px;}

#NPBox{padding-bottom: 120px;}
#NPBox .sectionTitle h2{text-align: center;color: #fff;}
#NPBox .btn a{margin: 0 auto;}
#NPBox .new-list{display: flex;flex-wrap: wrap;margin: 0 -1.25%;padding: 0 0 70px;}
#NPBox .news-item{
	padding: 20px 20px 16px;
    margin: 0 1.33% 40px;
    width: 30.6%;
    background: #fff;
}
#NPBox .news-item .photobox{overflow: hidden;}
#NPBox .news-item a.photo{display: block;transition: ease .3s;}
#NPBox .news-item a.photo:hover{transform: scale(1.15);}
#NPBox .news-item .info{margin: 23px 0 15px;}
#NPBox .news-item .info .date{font-family: 'Damion', cursive;margin: 0 12px 0 0;font-size: 18px;color: #414c65;}
#NPBox .news-item .info .cate{font-size: 11px;background: #c45220;padding: 3px 8px;color: #fff;}
#NPBox .news-item .info > p{margin: 23px 0 15px;}
#NPBox .news-item .info h3{margin: 0 0 28px;font-size: 16px; -webkit-line-clamp:2;}

#bookbox .flex{margin-bottom: 36px;}
#bookbox .book-bg{padding-top: 100px;margin-left: 95px;position: relative;padding-bottom: 160px;}
#bookbox .book-bg::before{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    display: block;
    background-color: #1f79a9;
}
#bookbox .book-item{height: 100%;padding: 20px 20px 15px;transition: box-shadow 0.3s ease;background: #fff;}
#bookbox .book-item a.photo{margin-bottom: 20px;background-size: cover;}
#bookbox .book-item .info{
	color: #272727;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.6;
    -webkit-line-clamp:2;
}
#bookbox .book-item .info h3{font-size: 16px;}

/*截角*/
.product-item .productIndex{
    position: absolute;
    display: block;
    z-index: 1;
    font-family: 'Damion', cursive;
    letter-spacing: 0;
    letter-spacing: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 16px;
    top: 16px;
    font-size: 24px;
}
.product-item .productIndex:before{
    position: absolute;
    left: -10px;
    top: 12px;
    border-width: 48px 48px 0 0;
    content: '';
    display: block;
    z-index: -1;
    height: 0;
    width: 0;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*進度條*/
#progress-content{
    position: absolute;
    right: 350px;
    bottom: -45px;
    display: flex;
    z-index: 5000;
    align-items: center;
}
#progress-content .swiper-pagination,#progress-content #seek_total{
    height: 28px;
    width: 62px;
    line-height: 0;
    text-align: center;
}
#progress-content .swiper-pagination{
    position: relative;
    overflow: hidden;
}
.seek_bar {
    position: relative;
    overflow: hidden;
    height: 3px;
    width: 210px;
    background-color: #000;
}
.seek_line{
    position: absolute;
    left: -100%;
    height: 3px;
    width: 210px;
    background-color: #fff;
}
.seek_line.start{
    animation-name: progressStart;
    animation-duration:3s; 

}
.seek_line.change{
    animation-name: progressChange;
    animation-duration:0.5s; 
}
@keyframes progressStart {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes progressChange{
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
#progress-content #seek_total,#progress-content .swiper-pagination-bullet{
    font-size: 28px;
}
#progress-content .swiper-pagination-bullet{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0 0;
    text-align: center;
    transform: translateY(28px);
    -webkit-transform: translateY(28px);
}

#progress-content .swiper-pagination-bullet-active{
    transform: translateY(0); 
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;

    -webkit-transform: translateY(0);
  }
#progress-content .seek_num._leave {
    transform: translateY(-28px); 
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;

    -webkit-transform: translateY(-28px);
  }

#progress-content #seek_total {
    padding: 9px 0 0;
}
@media screen and (min-width: 768px){
	#products .product-item .photobox{width:100%}
	#products .swiper-slide{width:  640px !important;}
	#bookbox .book-bg::before{height: 100%;width: 74%;}
}