*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(90deg, #f2c193 20.37144%, #f1c093 20.37144%, #f0bab7 80.373%);
}
a{text-decoration: none;}
ul,li{list-style: none;}
h1{
    text-align: center;
    color:#5f5f5f;
    padding: 45px 0 10px;
}
.contanier{
    width: 400px;
    margin: 0 auto;
}

.todoContent{
    border-radius: 5px;
    background: #fff;
    padding: 30px 20px;
    position: relative;
}
.todoContent #date{
    padding-bottom: 20px;
}
.todoContent #date .day{
    font-size: 26px;
    font-weight: bold;
    color: #FA6A6B;
    padding-bottom: 5px;
}
.todoContent #date .month{
    font-size: 14px;
    font-weight: bold;
    color: #adadad;
}
.todoContent #addItem{
    display: flex;
    align-items: center;
}
.todoContent #addItem input{
    border: 0;
    border-bottom: 2px solid #a3a3a3;
    display: inline-block;
    padding: 5px;
    outline: none;
    width: 90%;
}
.todoContent #addItem #add{
    margin-left: 20px;
}
.todoContent #addItem #add i{
    font-size: 34px;
    color: #FA6A6B;
    transition: ease .3s;
}
.todoContent #addItem #add i:hover{
    color: #dc6061;;
}
.todoContent #todoList{
    padding-top: 30px;
}
.todoContent ul li{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.todoContent ul li.done .txt p{
    text-decoration:line-through;
    color: #a0a0a0;
}
.todoContent ul li .txt{
    width: calc(100% - 75px);
    display: flex;
    align-items: center;
}
.todoContent ul li .txt p{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.todoContent ul li .txt input{
    margin-right: 20px;
}
.todoContent ul li .btn{
    width: 75px;
    display: flex;
    justify-content: space-around;
    color: #adadad;
}
.todoContent ul li .btn i{
    cursor: pointer;
}
#editContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    background: #b9b9b9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    transition: ease .3s;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
}
#editContent.open{
    visibility: unset;
    opacity: 1;
    transform: translate(-50%,-50%);
}
#editContent input{
    display: inline-block;
    border-radius: 5px;
    width: 120px;
    padding: 5px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #a0a0a0;
}
#editContent #save{
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #484848;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

#deldoneBtn{
    font-size: 14px;
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 10px;
    background: #1a861a;
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
    transition: ease .3s;
}
#deldoneBtn:hover{
    background: #177117;
}

@media screen and (max-width:480px){
    .contanier{width: 70%;}
}