*{
    padding: 0px;
    margin: 0px;
}
img{max-width: 100%;}
.container{width: 90%;margin:15px auto 0px;}
a{text-decoration: none;}
h1{text-align: center;}
#seatchGame{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#seatchGame a{
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background: #772ce8;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 0 5px;
}

#twitchbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#twitchbox .item{
    width: 30%;
    padding: 1% 1.5%;
}
#twitchbox .item .photo{
    position: relative;
}
#twitchbox .item .photo img{
    object-fit: cover;
    width: 100%;
}
#twitchbox .item .photo a{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#twitchbox .item .people{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
}
#twitchbox .item .people span{
    font-size: 14px;
}
#twitchbox .item .liveicon{
    background: red;
    width: 40px;
    height: 18px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    line-height: 18px;
    position: absolute;
    left: 10px;
    top: 10px;
}
#twitchbox .item .info .title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width: 90%;
}

@media screen and (max-width:1024px){
    #twitchbox .item{width: 47%;}
}
@media screen and (max-width:480px){
    h1{font-size: 26px;}
    #seatchGame{flex-wrap: wrap;}
    #seatchGame h3{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    #twitchbox .item{width: 100%; padding: 0px 0px 30px;}
}